* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --enabled-bg-color: #85c2ff;
  --enabled-text-color: #1e1e1e;
  --disabled-bg-color: #5080b0;
  --disabled-text-color: #ffffff;
  --second-color: #d9d9d9;
  --bg-color: #272525;
  --loser-bg-color: #b43232;
  --winner-bg-color: #62b84c;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  height: 100vh;
  background-color: var(--bg-color);
}
h2 {
  font-size: 3rem;
}

h3 {
  font-size: 3.5rem;
  color: var(--disabled-text-color);
}
h4 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

.loser {
  color: var(--disabled-text-color);
  background-color: var(--loser-bg-color);
}
.winner {
  color: var(--disabled-text-color);
  background-color: var(--winner-bg-color);
}
.tie {
  color: var(--enabled-text-color);
  background-color: var(--disabled-text-color);
}
header,
footer,
.main,
.title-battles,
.versus {
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  height: 4.4rem;
  background-color: var(--disabled-bg-color);
}

.logo {
  height: 4rem;
}
.initial-container {
  min-width: 30rem;
  max-width: 80rem;
}

.battle,
.title-battles,
footer {
  background-color: var(--disabled-bg-color);
}

.title-battles {
  height: 3rem;
  border-radius: 10rem 10rem 0 0;
}
.counter-results {
  height: 3rem;
}

.tittles-record {
  height: 2rem;
  background-color: var(--disabled-text-color);
}
.title-battles h4 {
  color: var(--second-color);
}

.battle {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  border-radius: 2rem;
  height: 29rem;
  width: 29rem;
}

.computer,
.you {
  height: 14rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.computer img,
.you img {
  max-width: 10rem;
}

.computer {
  border-radius: 2rem 2rem 0 0;
}
.you {
  border-radius: 0 0 2rem 2rem;
}

.choice {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 17rem;
}

.record {
  display: flex;
  flex-direction: column;
}
.text-record,
.counter-results {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.counter-results {
  background-color: var(--disabled-bg-color);
  color: var(--disabled-text-color);
  align-items: center;
}
.text-record {
  height: 10rem;
  overflow: scroll;
  background-color: var(--second-color);
  align-items: baseline;
  border-radius: 0 0 2rem 2rem;
}
/*.text-record::-webkit-scrollbar {
  display: none;
}*/

.text-record::-webkit-scrollbar {
  width: 0.5rem;
  height: 0rem;
}

.text-record::-webkit-scrollbar-track {
  background: transparent;
}

.text-record::-webkit-scrollbar-thumb {
  background: var(--disabled-bg-color);
  border-radius: 1rem;
}

.text-record::-webkit-scrollbar-thumb:hover {
  background: var(--enabled-bg-color);
}

.container-user-results,
.container-cpu-results {
  display: flex;
  flex-direction: column-reverse;
}

.player-results,
.cpu-results {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  width: 15rem;
  gap: 1rem;
}

img.icon-results {
  width: 3rem;
  height: 3rem;
}

.tittles-record {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--second-color);
  color: var(--enabled-text-color);
}
.btnRock,
.btnPaper,
.btnScissors {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 0.5rem;
  width: 9rem;
  cursor: pointer;
  background-color: var(--disabled-bg-color);
  color: #ffffff;
  border: 0;
  border-radius: 1.2rem;
  box-shadow: -4px 5px 0px 0px rgb(255, 255, 255, 0.75);
  -webkit-box-shadow: -4px 5px 0px 0px rgb(255, 255, 255, 0.75);
  -moz-box-shadow: -4px 5px 0px 0px rgb(255, 255, 255, 0.75);
}
button:hover,
button:hover,
button:hover {
  background-color: var(--enabled-bg-color);
  color: var(--enabled-text-color);
}

button:disabled {
  background-color: gray;
  color: #ffffff;
}

button.btnChosenUser {
  position: relative;
  top: 0.6rem;
  right: 0.4rem;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  background-color: #85c2ff;
  color: #1e1e1e;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3rem;
}

.blur-and-movement {
  animation: blur-and-movement 0.4s linear both;

  animation-play-state: running;
}
@keyframes blur-and-movement {
  0% {
    transform: scale(1);
    filter: blur(0.01px);
  }
  40% {
    transform: translateZ(-700px) translateY(-100px);
    opacity: 0;
  }
  50% {
    transform: scale(2);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.shake-horizontal {
  animation: shake-horizontal 0.8s linear both;
}
@keyframes shake-horizontal {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}
