/*<-----NORMALICE DOCUMENT AND VARIABLES----->*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  /*1rem = 10px*/
  font-size: 62.5%;
}
:root {
  --enabled-bg-color: #85c2ff;
  --enabled-text-color: #1e1e1e;
  --disabled-bg-color: #5080b0;
  --disabled-text-color: #ffffff;
  --second-color: #d9d9d9;
  --bg-color: #272525;
  --loser-bg-color: #b43232;
  --winner-bg-color: #62b84c;
  --title-text: 3rem;
  --subtitle-text: 2rem;
  --paragraph-text: 1.5rem;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  height: 100vh;
  background-color: var(--bg-color);
}

/*<-----CONST OUT OF BEM----->*/
.loser {
  color: var(--disabled-text-color);
  background-color: var(--loser-bg-color);
}
.winner {
  color: var(--disabled-text-color);
  background-color: var(--winner-bg-color);
}
.tie {
  color: var(--enabled-text-color);
  background-color: var(--disabled-text-color);
}

/*<-----HEADER----->*/
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.4rem;
  background-color: var(--disabled-bg-color);
}

.header__logo {
  height: 4rem;
}

/*<-----MAIN----->*/
.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.initial-container {
  min-width: 30rem;
  max-width: 80rem;
}

/*<-----BATTLE----->*/

.battle {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  border-radius: 2rem;
  height: 30rem;
  width: 30rem;
  background-color: var(--disabled-bg-color);
}

.battle-container {
  height: 14rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.battle-container--you {
  border-radius: 0 0 2rem 2rem;
}
.battle-container--cpu {
  border-radius: 2rem 2rem 0 0;
}

.battle__versus {
  display: flex;
  align-items: center;
  justify-content: center;
}

.battle__title {
  font-size: var(--title-text);
}
.battle__sub-title {
  font-size: 3.5rem;
  color: var(--disabled-text-color);
}

.battle__img {
  max-width: 10rem;
}

/*<-----CHOICE----->*/

.choice {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 15rem;
  width: 30rem;
}

.choice__text {
  font-size: var(--paragraph-text);
}

.choice__buttons--btnRock,
.choice__buttons--btnPaper,
.choice__buttons--btnScissors {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 0.5rem;
  width: 9rem;
  cursor: pointer;
  background-color: var(--disabled-bg-color);
  color: #ffffff;
  border: 0;
  border-radius: 1.2rem;
  box-shadow: -4px 5px 0px 0px rgb(255, 255, 255, 0.75);
  -webkit-box-shadow: -4px 5px 0px 0px rgb(255, 255, 255, 0.75);
  -moz-box-shadow: -4px 5px 0px 0px rgb(255, 255, 255, 0.75);
}

.choice__buttons:hover {
  background-color: var(--enabled-bg-color);
  color: var(--enabled-text-color);
}

.choice__buttons:disabled {
  background-color: gray;
  color: #ffffff;
}

.choice__buttons.btnChosenUser {
  position: relative;
  top: 0.6rem;
  right: 0.4rem;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  background-color: #85c2ff;
  color: #1e1e1e;
}

/*<-----RECORD----->*/
.record {
  display: flex;
  flex-direction: column;
  width: 30rem;
}

/*<-----RECORD----->*/
/*<-----record-container----->*/
.record-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  border-radius: 10rem 10rem 0 0;
  background-color: var(--disabled-bg-color);
}

.record__sub-title {
  font-size: var(--subtitle-text);
  color: var(--second-color);
}

/*<-----RECORD----->*/
/*<-----counter-results----->*/
.counter-results {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  background-color: var(--disabled-bg-color);
  color: var(--disabled-text-color);
  align-items: center;
  height: 3rem;
}

.counter-results__text {
  font-size: var(--subtitle-text);
}

/*<-----RECORD----->*/
/*<-----record-titles----->*/

.record-titles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 2rem;
  background-color: var(--second-color);
  color: var(--enabled-text-color);
}
.record-titles__text {
  font-size: var(--paragraph-text);
}

/*<-----RECORD----->*/
/*<-----record-results----->*/

.results__text {
  font-size: var(--paragraph-text);
}

.record-results {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  text-transform: capitalize;
  height: 10rem;
  overflow: scroll;
  background-color: var(--second-color);
  align-items: baseline;
  border-radius: 0 0 1rem 1rem;
}

.record-results::-webkit-scrollbar {
  width: 0.5rem;
  height: 0rem;
}

.record-results::-webkit-scrollbar-track {
  background: transparent;
}

.record-results::-webkit-scrollbar-thumb {
  background: var(--disabled-bg-color);
  border-radius: 1rem;
}

.record-results::-webkit-scrollbar-thumb:hover {
  background: var(--enabled-bg-color);
}

.container-results {
  display: flex;
  flex-direction: column-reverse;
}

.results {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  width: 15rem;
}
.results__text {
  font-family: var(--paragraph-text);
  width: 4.8rem;
}

.results__icon {
  width: 3rem;
  height: 3rem;
}

/*<-----POPUP----->*/
.popup {
  position: absolute;
  background-color: var(--disabled-bg-color);
  color: var(--disabled-text-color);
  border-radius: 1rem;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  width: 35rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  gap: 3rem;
}

.popup__header {
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
  padding-top: 2rem;
}

.popup__close {
  display: flex;
  background-color: var(--loser-bg-color);
  color: var(--disabled-text-color);
  padding: 0.5rem;
  border-radius: 20%;
}

.popup__body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.popup__title {
  font-size: var(--title-text);
}
.popup__paragraph {
  font-size: var(--paragraph-text);
}

.popup__footer {
  display: flex;
  justify-content: space-around;
  border-radius: 1rem;
}

.popup__buttons {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 0.5rem;
  width: 9rem;
  cursor: pointer;
  background-color: var(--enabled-bg-color);
  color: var(--enabled-text-color);
  border: 0;
  border-radius: 1.2rem;
  box-shadow: -3px 4px 0px 0px rgb(255, 255, 255, 0.75);
  -webkit-box-shadow: -3px 4px 0px 0px rgb(255, 255, 255, 0.75);
  -moz-box-shadow: -3px 4px 0px 0px rgb(255, 255, 255, 0.75);
}

.popup__buttons:hover {
  background-color: var(--disabled-bg-color);
  color: var(--disabled-text-color);
}

/*<-----FOOTER----->*/
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background-color: var(--disabled-bg-color);
}

.footer__text {
  font-size: var(--paragraph-text);
  color: var(--disabled-text-color);
}
.footer__mail {
  text-decoration: none;
  color: var(--disabled-text-color);
}
.footer__mail:hover {
  color: var(--enabled-text-color);
}

/*<-----ANIMATIONS----->*/
.blur-and-movement {
  animation: blur-and-movement 0.4s linear both;

  animation-play-state: running;
}
@keyframes blur-and-movement {
  0% {
    transform: scale(1);
    filter: blur(0.01px);
  }
  40% {
    transform: translateZ(-700px) translateY(-100px);
    opacity: 0;
  }
  50% {
    transform: scale(2);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.shake-horizontal {
  animation: shake-horizontal 0.8s linear both;
}
@keyframes shake-horizontal {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}

.open-popup {
  animation: open-popup 0.2s linear both;
}
@keyframes open-popup {
  0% {
    transform: translate(-50%, -50%) scale(0.1);
    top: 0%;
    visibility: hidden;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    top: 50%;
    visibility: visible;
  }
}

/*<-----MEDIA QUERIES----->*/

@media (35rem <= width <= 80rem) {
  .initial-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0;
    flex-wrap: wrap;
  }
  .battle {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 5rem;
    border-radius: 2rem;
    height: 36rem;
    width: 36rem;
    background-color: var(--disabled-bg-color);
  }
  .battle-container {
    height: 16rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .choice {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    height: 15rem;
    width: 6rem;
    flex-direction: column;
    gap: 2em;
    align-items: center;
  }

  .record {
    display: flex;
    flex-direction: column;
    width: 56rem;
    height: 35rem;
  }

  .record-titles__text {
    font-size: var(--subtitle-text);
  }

  .record-results {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    text-transform: capitalize;
    height: 100%;
    overflow: scroll;
    background-color: var(--second-color);
    align-items: baseline;
    border-radius: 0 0 1rem 1rem;
  }

  .results {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 28rem;
    height: 7rem;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background-color: var(--disabled-bg-color);
  }
}

@media (80rem <= width <= 120rem) {
  .initial-container {
    min-width: 30rem;
    max-width: 111rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0;
    flex-wrap: wrap;
    padding-top: 7rem;
  }
  .battle {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 5rem;
    border-radius: 2rem;
    height: 36rem;
    width: 36rem;
    background-color: var(--disabled-bg-color);
  }
  .battle-container {
    height: 16rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .choice {
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    height: 34rem;
    width: 102rem;
    flex-direction: row;
    gap: 9em;
    align-items: flex-start;
    order: 3;
  }
  .choice__buttons--btnRock,
  .choice__buttons--btnPaper,
  .choice__buttons--btnScissors {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    padding: 0.5rem;
    width: 18rem;
    height: 18rem;
    cursor: pointer;
    background-color: var(--disabled-bg-color);
    color: #ffffff;
    border: 0;
    border-radius: 1.2rem;
  }
  .choice__image {
    width: 50%;
  }
  .choice__text {
    font-size: var(--subtitle-text);
  }
  .record {
    display: flex;
    flex-direction: column;
    width: 47rem;
    height: 36rem;
    margin-top: 3rem;
  }

  .record-titles {
    height: 5rem;
  }
  .record-titles__text {
    font-size: var(--subtitle-text);
  }

  .record-results {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    text-transform: capitalize;
    height: 100%;
    overflow: scroll;
    background-color: var(--second-color);
    align-items: baseline;
    border-radius: 0 0 1rem 1rem;
  }

  .results {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 23rem;
    height: 7rem;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background-color: var(--disabled-bg-color);
  }
}
